@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    <div>
        Select file to import
    </div>
    <div>
        <input type="file" name="file"/>
    </div>
    <div>
        <input type="submit" value="Import"/>
s    </div>
}
